//**** ---- ****
//
// Header
//
//**** ---- ****


// Header
// --------------------------------
.site-header {
 padding-top: .5em;
 margin-bottom: 1em;
}

.site-branding {
  text-align: center;
  margin-top: 1em;

  @media only screen and (min-width: $medium-min) {
    margin-top: 2em;  
  }
  
  @media only screen and (min-width: $large-min) {
    margin-top: 3em;
  }
}


// Top Nav
// --------------------------------
.top-navigation ul {
  margin-bottom: 0;
  text-align: right;
  
  li {
    display: inline;
    margin-left: .5em;
  }
  
  li a {
    font-size: .875em;
    text-transform: uppercase;
    
    &:hover {
      color: $primary-color-dark;
    }
  }
  
  li.home-icon {
    a {
      font-size: 0;
    }
    
    a:before {
      content: "\31";
      font-family: 'Hochzeitswahn';
      font-size: 1.25rem;
      color: $primary-color;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      vertical-align: baseline;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }
}

.site-header > .top-navigation {
  @media only screen and (max-width: $medium-max) {
    display: none;
  }  
}

.top-navigation {
  .popup-login {display: inline;}
  .view-profile {display: none;}
}

.logged-in .top-navigation {
  .popup-login {display: none;}
  .view-profile {display: inline;}
}


// Off-Canvas Toggle
// --------------------------------
.off-canvas-toggle {
  float: left;
  border: none;
  background-color: transparent;
  font-size: 1.75em;
  padding: 0;
  color: $primary-color;
  
  &:hover {
    color: $primary-color-dark;
  }
}

.off-canvas-deactivate {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: rgba($white, .85);
}

.js.off-canvas-active .off-canvas-deactivate {
  display: block;
}


// Off-Canvas Navigation
// --------------------------------
@import "offcanvas.scss";


// On-Canvas Navigation
// --------------------------------
@import "oncanvas.scss";


// Sticky Top-Nav
// --------------------------------
@media only screen and (min-width: $large-min) {  
  nav.main-navigation.sticky {
    position: fixed;
    z-index: 100;
    width: 100%;
    max-width: 91em;
    top: 0;
    margin-top: 0;
    background: #fff;
    background: rgba(255, 255, 255, 0.95);
    border-top: none;
    
    .main-navigation-search {
      display: none;
    }
  }
}

nav.main-navigation.sticky {
  animation: reveal 500ms ease-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes reveal {
  0%   {transform: translate3d(0,-4em,0);}
  100% {transform: translate3d(0,0em,0);}
}