//**** ---- ****
//
// All Tags Page
//
//**** ---- ****


// Nav
// --------------------------------
.tag-list-nav {
  width: 10%;
  float: left;
}


// List
// --------------------------------
.tag-list {
  width: 90%;
  float: right;
  
  li a {
    color: gray;
    
    &:hover {
      color: darken($primary-color-dark, 15%);
    }
  }
  
  @media only screen and (min-width: $medium-min) {
    -webkit-column-count: 3;
       -moz-column-count: 3;
            column-count: 3;

    -webkit-column-width: 33%;
       -moz-column-width: 33%;
            column-width: 33%;
  }
}
