//**** ---- ****
//
// Module: Subcategory Navigation
//
//**** ---- ****


// Basics
// --------------------------------
.sub-category-nav {
  text-align: center;
  margin-bottom: 3.25em;
  
  .section-headline {
    margin-bottom: 0.5em;
  }
  
  ul {
    list-style: none;
    padding-left: 0;
  }
  
  li a:hover {
    color: $primary-color-dark;
  }
    
  > ul {
    text-align: center;
    
    > li {
      position: relative;
      text-transform: uppercase;
      font-size: 1.3125em;
      cursor: pointer;
      
      > span {
        transition: color 250ms ease;
      }
      
      &:hover > span {
        color: $primary-color-dark;
      }
      
      span:after {
        content: '\38';
        font-family: 'Hochzeitswahn';
	      speak: none;
	      font-style: normal;
	      font-weight: normal;
	      font-variant: normal;
	      text-transform: none;
        font-size: .4em;
        color: $primary-color;
        margin-left: 1em;
        position: relative;
        top: -4px;
      }
    }
    
    @media only screen and (min-width: $large-min) {
      display: inline-block;
      vertical-align: top;
      margin: 0 1em;
      width: 15%;
    }
  }
  
  > ul > li > ul {
    display: none;
    width: 100%;
    position: absolute;
    z-index: 100;
    background-color: $white;
    border: 1px solid #ededed;
    box-shadow: 0 4px 9px rgba(0,0,0,.15);    
    padding: .35em;

    max-height: 60vh;
    min-height: 20em;
    overflow: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    
    &.active {
      display: block;
    }
    
    //Scrollbar
    &::-webkit-scrollbar {
      width: 6px;
      cursor: default;      
    }
     
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0px 8px rgba(0,0,0,.05);
      border-radius: 0;
      background-color: #F0F0F0;   
    }
     
    &::-webkit-scrollbar-thumb {
      box-shadow: none; 
      border-radius: 0;
      background-color: $primary-color;
    }
    
    &::scrollbar {
      width: 6px;
      cursor: default; 
    }
     
    &::scrollbar-track {
      box-shadow: inset 0 0px 8px rgba(0,0,0,.05);
      border-radius: 0;
      background-color: #F0F0F0;   
    }
     
    &::scrollbar-thumb {
      box-shadow: none; 
      border-radius: 0;
      background-color: $primary-color;      
    }
    
    > li.active {
      color: $primary-color-dark;
      
      &:after {
        content: "\2c";
        font-family: 'Hochzeitswahn';
        speak: none;
        line-height: 1;
        font-size: .75em;
        margin-left: .5em;
        background-color: #fff;
        border: 1px solid #EAEAEA;
        border-radius: 50%;
        padding: .2em .25em;        
      }
    }
  }  
  
  > ul > li > ul li {
    text-transform: none;
    font-size: 0.875rem;
    text-transform: uppercase;
    line-height: 1.8;
    
    &.active {
      color: darken($primary-color, 15%);
    }
  }
  
  > ul > li > ul > li {
    margin-bottom: 0.35rem;
  }
  
  > ul > li ul.children {
    border: 1px solid #e7e7e7;
    background: #fafafa;
    padding-top: .25em;
    padding-bottom: .25em;
    
    > li {
      font-size: 0.825em;
    }
  }
  
  li.active-filters {
    &.filter-title,
    > span {
      color: darken($primary-color, 15%);
    }
  }
}

// Tags
.tags_overview {
  margin-bottom: .25em;
  padding-bottom: .25em;
  border-bottom: 1px solid #f5f5f5;
}

.no-js .sub-category-nav {
  display: none;
}


// Delete Filter Section
// --------------------------------
.delete-filters {
  margin: 0 0 1rem;
  
  a {
    font-size: .75em;
    background-color: #E5E5E5;
    color: $black;
    padding: .25em .75em;
    margin: 0 .5em;
    border-radius: 6px;

    &:before {
      content: "\2c";
      font-family: 'Hochzeitswahn';
      speak: none;
      line-height: 1;
      font-size: .75em;
      margin-right: .5em;
    }
    
    &:hover {
      color: #868686;
      background-color: #F5F5F5;
    }
  }
  
  a:first-child {
    margin-left: 0;
  }
}


// Archive only
// --------------------------------
.category .sub-category-nav,
.archive .sub-category-nav,
.page-template-template-wahn-categories .sub-category-nav {
  position: relative;
  margin-top: .0.75em;
  
  > ul {
    margin-bottom: .5em;
  }
  
  .current-cat-parent > a,
  .current-cat > a {
    color: $primary-color-dark;
  }
    
  @media only screen and (min-width: $medium-min) {     
    > ul { 
      display: inline-block;
      vertical-align: top;
      margin: 0 1em;
      width: 25%;
    }
    
    > ul > li span {
      display: block;
      background: #fff;
      z-index: 1;
      position: relative;
    }
  }  
  @media only screen and (min-width: 79.75em) {
    > ul { 
      width: 22%;
    }
  }    
}

.post-type-archive-hw_wahnbuechlein .sub-category-nav,
.archive.tax-wahn_categorie .sub-category-nav,
.archive.tax-wahn_region .sub-category-nav,
.archive.tax-lookbook_categorie .sub-category-nav,
.page-template-template-wahn-categories .sub-category-nav {
  @media only screen and (min-width: $medium-min) {
    &:after {
      content: '';
      position: absolute;
      z-index: 0;
      display: block;
      width: 100%;
      height: 1px;
      border-bottom: 1px solid $secondary-color;
      top: 45%
    }
  }
}


// Wahnbuch only
// --------------------------------
.post-type-archive-hw_wahnbuechlein .sub-category-nav > ul > li > ul > li.active:after,
.tax-wahn_region .sub-category-nav > ul > li > ul > li.active:after,
.tax-wahn_categorie .sub-category-nav > ul > li > ul > li.active:after {
  content: '';
  display: none;
}

.post-type-archive-hw_wahnbuechlein .sub-category-nav {
  @media only screen and (min-width: $medium-min) {     
    > ul { 
      width: 40%;
    }
  }
  @media only screen and (min-width: $large-min) {
    > ul { 
      width: 35%;
    }
  }
}


// Lookbook only
// --------------------------------
.archive .sub-category-nav.lookbook-filter > ul {
  width: 100%;
}

.sub-category-nav.lookbook-filter {
  .button {
    margin-top: 2em;
    padding-left: 2.5em;
    padding-right: 2.5em;
  }
  
  .cancel {
    margin-left: 2rem;
    
    &:before {
      border: none;
    }
    
    &:after {
      background-color: #C2BEBC; 
    }
    
    &:hover:after {
      background-color: darken(#C2BEBC, 15%); 
    }
  }
    
  > ul {
    overflow: hidden;
    max-height: 1.75em;
    transition: max-height 325ms ease;
    
    &.active {
      overflow: visible;
      max-height: 30em;
    }
    
    > .filter-toggle {
      display: block;
      margin-bottom: .5em;
    }
    
    &.active > .filter-toggle:after {
      display: inline-block;
      position: relative;
      transform: rotate(180deg);
      transition: transform 325ms ease;
    }
    
    > li {
      display: inline-block;
      width: 100%;
      background-color: #F9F7F6;
      margin-bottom: 2px;
      font-size: 1.125em;
  
      &:after {
        content: '\38';
        font-family: 'Hochzeitswahn';
	      speak: none;
	      font-style: normal;
	      font-weight: normal;
	      font-variant: normal;
	      text-transform: none;
        font-size: .4em;
        color: $primary-color;
        margin-left: 1em;
        position: relative;
        top: -4px;
      }
    }
          
    @media only screen and (min-width: 41em) {
      overflow: visible;
      max-height: none;
      
      .filter-toggle {
        display: none;
      }
      
      >li {
        width: 17.825%;
        background-color: transparent;
        margin: 0 .25em;
        font-size: 1.3125em;        
      }
    }
        
    @media only screen and (min-width: $large-min) {
      > li {
        width: 15%;
        margin: 0 1em;
      }
    }    
  }
  
  > ul > li > ul li {
    cursor: pointer;
    color: $gray;
    transition: color 250ms ease;

    &.active,
    &:hover {
      color: darken($primary-color, 15%);
    }
  } 
}


// Gallery only
// --------------------------------
.page-template-template-gallery .sub-category-nav > ul > li > ul > li.active:after {
  content: '';
  display: none;
}

.page-template-template-gallery .sub-category-nav {
  overflow: hidden;
  max-height: 1.75em;
  transition: max-height 325ms ease;
    
  &.active {
    overflow: visible;
    max-height: 30em;
  }
    
  .filter-toggle {
    display: block;
    margin-bottom: .5em;
    background-color: #F9F7F6;
    text-transform: uppercase;
    cursor: pointer;
    
    &:after {
      content: '\38';
      font-family: 'Hochzeitswahn';
	    speak: none;
	    font-style: normal;
	    font-weight: normal;
	    font-variant: normal;
	    text-transform: none;
      font-size: .4em;
      color: $primary-color;
      margin-left: 1em;
      position: relative;
      top: -2px;   
    } 
  }
    
  &.active > .filter-toggle:after {
    display: inline-block;
    position: relative;
    transform: rotate(180deg);
    transition: transform 325ms ease;
  }
    
  > ul {
    margin-bottom: 2px;
  }
    
  > ul > li {
    background-color: #F9F7F6;
    font-size: 1.125em;
  }
          
  @media only screen and (min-width: 41em) {
    overflow: visible;
    max-height: none;
      
    .filter-toggle {
      display: none;
    }
      
    > ul {
      margin-bottom: 1.6em;
    }
      
    > ul > li {
      background-color: transparent;
      font-size: 1.3125em;        
    }
  }
  
  @media only screen and (min-width: $medium-min) {
    > ul {
      display: inline-block;
      vertical-align: top;
      margin: 0 1em;
      width: 25%;
    }
  }
  
  @media only screen and (min-width: $large-min) {
    > ul {
      width: 15%;
    }
  }
}     
